@charset "UTF-8";

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button{
    margin-top: 20px;
}

.msg{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.esconder{display: none;}

.exibir{display: block;}
